html {
  min-height: 100%;
}

body {
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url('./images/dice-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.row-active {
  background: #ffdd59;
}

.main-roll-placeholder {
  height: 48px;
  width: 53px;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
}

.main-dice:hover {
  cursor: pointer;
}

@media only screen and (max-width: 525px) {
  .main-roll-placeholder {
    margin: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-dice:hover {
    cursor: pointer;
    color: red;
  }
}
