html {
  min-height: 100%;
}

body {
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url('./images/dice-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: Georgia;
}

.row-active {
  background: #ffdd59;
}

.main-roll-placeholder {
  height: 48px;
  width: 53px;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  border-bottom-style: ridge;
  margin: 5px;
}

.main-dice:hover {
  cursor: pointer;
}

.pot-money {
  color: #85bb65;
  text-shadow: 1px 2px 3px black;
}

.start-rnd-btn {
  box-shadow: 1px 2px 2px 3px black;
}

.roll-dice-btn {
  box-shadow: 1px 2px 2px 3px black;
}

.scoreboard {
  background-color: white;
  opacity: 0.8;
  border: 2px solid black;
}

.inactive-btn {
  opacity: 0.3;
  background-color: grey;
}

.score-display {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 1px 1px 1px 2px black;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 525px) {
  .main-roll-placeholder {
    margin: 1px;
  }

  .row-size {
    height: 90px;
  }
}


@media only screen and (max-width: 768px) {
  .scoreboard {
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) {
  .row-size {
    height: 60px;
  }
  .selection-display {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-dice:hover {
    cursor: pointer;
    color: red;
  }


}
